body {
	border: 10px solid #854B47;
	border-bottom: 0;
	padding: 10px;
}

body > div {
	padding: 10px;
	display: inline-block;
	transition: 0.5s;
	position: relative;
}

body > div:hover {
	cursor: pointer;
}

#container > li {
	display: inline-block;
	min-width: 300px;
	min-height: 300px;
	overflow: visible;
}

#container > li > * {
	position: relative;
}