@keyframes dance {
	from {
	    transform: rotate(0deg);
	}
	to {
	    transform: rotate(360deg);
	}
}
.snowflake1 {
    position: relative;
    top: 50px;
    left: 100px;
    transform-origin: 0 50px;
    
    &:hover {
        animation: dance 5s linear 0s infinite;
    }

	.angle {
		width: 0;
		height: 0;
		border: {
			bottom: 50px solid #58d0ff;
			left: 20px solid transparent;
			right: 20px solid transparent;
		}
		position: relative;

		&:after {
		    content: '';
		    width: 0;
    		height: 0;
	    	border: {
		    	top: 60px solid #afe5ff;
			    left: 20px solid transparent;
			    right: 20px solid transparent;
		    }
		    position: absolute;
		    top: 50px;
            left: -20px;
		}
	}
	@for $i from 1 to 7 {
    	.part#{$i} {
	        transform: rotate($i * 60deg);
	        transform-origin: 20px 0;
	        position: absolute;
    		top: 50px;
            left: -20px;
	    }
    }
}
.snowflake2 {
    $circle: 15px;
    position: relative;
    top: 50px;
    left: 300px;
    transform-origin: 10px $circle + 10px;

    &:hover {
        animation: dance 5s linear 0s infinite;
    }
    
    .inner {
        width: $circle * 2;
        height: $circle * 2;
        border-radius: 50%;
        border: 10px solid #58d0ff;
        position: absolute;
        left: -$circle;
    }

    .angle {
        width: 30px;
        height: 20px;
        border-radius: 10px 0 0 10px;
        background: #58d0ff;
        transform: rotate(27deg);
        position: absolute;
        left: -10px;
        top: -20px;

        &:after {
            content: '';
            width: 30px;
            height: 20px;
            border-radius: 0 10px 10px 0;
            background: #58d0ff;
            position: absolute;
            top: -5px;
            transform: rotate(-90deg);
            left: 5px;
        }
    }
    @for $i from 1 to 7 {
    	.part#{$i} {
	        transform: rotate($i * 60deg);
	        transform-origin: 20px $circle + 10px;
	        position: absolute;
    		top: 0px;
            left: -10px;
	    }
    }
}
.hat {
	position: relative;
    top: 200px;
    left: 500px;
    height: 100px;
    transform: rotate(180deg);
    transform-origin: 0 0;

    .edge {
        position: absolute;
        width: 100px;
        height: 20px;
        border: 2px dotted red;
        box-shadow: 0 0 5px white;
        border-radius: 5px;
        background: white;
    }

    .hat-body {
        position: absolute;
        width: 53px;
        /* height: 50px; */
        /* background: red; */
        left: 5px;
        top: 20px;
        border-top: 52px solid #e6181a;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
    }
    .hat-side {
        position: absolute;
        /* background: yellow; */
        width: 31px;
        /* height: 10px; */
        z-index: 1;
        border-top: 36px solid #e6181a;
        border-right: 58px solid transparent;
        border-left: 7px solid transparent;
        transform: rotate(-10deg);
        top: 52px;
        left: 23px;
    }
    .ball {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px dotted red;
        z-index: 3;
        top: 35px;
        left: 100px;
        background: white;
    }
}
.sugar {
    $bgcolor: linear-gradient(45deg,
            white 0px, white 10px,
            #e6181a 10px, #e6181a 20px, white 20px, white 30px,
            #e6181a 30px, #e6181a 40px, white 40px, white 50px,
            #e6181a 50px, #e6181a 60px, white 60px, white 70px,
            #e6181a 70px, #e6181a 80px, white 80px, white 90px
        );
    $bgcolor1: linear-gradient(45deg,
            #e6181a 0px, #e6181a 10px, white 10px, white 20px,
            #e6181a 20px, #e6181a 30px, white 30px, white 40px,
            #e6181a 40px, #e6181a 50px, white 50px, white 60px,
            #e6181a 60px, #e6181a 70px, white 70px, white 80px
        );
    $width: 15px;
	position: relative;
    top: 50px;
    left: 600px;
    width: $width;
    height: 100px;
    border: 1px solid red;
    border-top: transparent;
    background: $bgcolor;

    &:before {
        content: '';
        position: absolute;
        left: -1px;
        top: -2 * $width;
        width: 4 * $width + 1px;
        height: 2 * $width;
        border: 1px solid red;
        border-radius: 2 * $width 2 * $width 0 0;
        border-bottom: transparent;
        background: $bgcolor1;
    }

    &:after {
        content: '';
        position: absolute;
        left: $width;
        top: -$width;
        width: 2 * $width - 1px;
        height: $width;
        background: white;
        border: 1px solid red;
        border-bottom: transparent;
        border-radius: $width $width 0 0;
    }
    .right {
        position: absolute;
        left: 3 * $width;
        top: 0;
        width: $width;
        height: 32px;
        border: 1px solid red;
        border-top: transparent;
        background: $bgcolor;
    }
}
@keyframes rotate {
	0% {
	    transform: rotateY(0deg);
	}
	49.99% {
	    transform: rotateY(0deg);
	}
	50% {
	    transform: rotateY(180deg);
	}
	99.99% {
	    transform: rotateY(180deg);
	}
	100% {
	    transform: rotateY(0deg);
	}

}
.XmarsMan {
    $r: #e6181a;
    $w: antiquewhite;
	position: relative;
    top: 20px;
    left: 100px;
    width: 230px;
    height: 230px;
    background: $r;

    &:hover {
        animation: rotate 2s linear 0s infinite;
    }

    @function whiteDot($x, $y) {
        @return $x * 10px - 5px $y * 10px - 5px 0 5px $w;
    }
    
    &:before {
    	content: '';
    	position: absolute;
        box-shadow: whiteDot(1, 1), whiteDot(23, 1),
            	whiteDot(11, 2), whiteDot(12, 2), whiteDot(13, 2), whiteDot(20, 2),
    	    	whiteDot(2, 3), whiteDot(4, 3), whiteDot(9, 3), whiteDot(10, 3), whiteDot(11, 3), whiteDot(12, 3), whiteDot(13, 3), whiteDot(14, 3), whiteDot(15, 3), whiteDot(19, 3), whiteDot(21, 3),
    	    	whiteDot(3, 4), whiteDot(9, 4), whiteDot(10, 4), whiteDot(11, 4), whiteDot(12, 4), whiteDot(13, 4), whiteDot(14, 4), whiteDot(15, 4), whiteDot(16, 4), whiteDot(20, 4),
    	    	whiteDot(2, 5), whiteDot(4, 5), whiteDot(7, 5), whiteDot(8, 5), whiteDot(9, 5), whiteDot(10, 5), whiteDot(11, 5), whiteDot(12, 5), whiteDot(13, 5), whiteDot(14, 5), whiteDot(15, 5), whiteDot(16, 5), whiteDot(17, 5), whiteDot(18, 5),
    	    	whiteDot(18, 6), whiteDot(19, 6),
    	    	whiteDot(6, 7), whiteDot(7, 7), whiteDot(8, 7), whiteDot(9, 7), whiteDot(10, 7), whiteDot(11, 7), whiteDot(12, 7), whiteDot(13, 7), whiteDot(14, 7), whiteDot(15, 7), whiteDot(16, 7), whiteDot(17, 7), whiteDot(19, 7), whiteDot(22, 7),
    	    	whiteDot(4, 8), whiteDot(18, 8), whiteDot(19, 8),
    	    	whiteDot(7, 9), whiteDot(8, 9), whiteDot(9, 9), whiteDot(10, 9), whiteDot(11, 9), whiteDot(12, 9), whiteDot(13, 9), whiteDot(14, 9), whiteDot(15, 9), whiteDot(16, 9), whiteDot(19, 9),
    	    	whiteDot(6, 10), whiteDot(7, 10), whiteDot(16, 10), whiteDot(17, 10), whiteDot(19, 10),
    	    	whiteDot(6, 11), whiteDot(9, 11), whiteDot(14, 11), whiteDot(17, 11), whiteDot(19, 11), whiteDot(20, 11), whiteDot(21, 11),
    	    	whiteDot(2, 12), whiteDot(6, 12), whiteDot(7, 12), whiteDot(16, 12), whiteDot(17, 12), whiteDot(19, 12), whiteDot(20, 12), whiteDot(21, 12),
    	    	whiteDot(7, 13), whiteDot(10, 13), whiteDot(11, 13), whiteDot(12, 13), whiteDot(13, 13), whiteDot(16, 13), whiteDot(19, 13), whiteDot(20, 13), whiteDot(21, 13),
    	    	whiteDot(6, 14), whiteDot(7, 14), whiteDot(8, 14), whiteDot(9, 14), whiteDot(11, 14), whiteDot(12, 14), whiteDot(14, 14), whiteDot(15, 14), whiteDot(16, 14), whiteDot(17, 14),
    	    	whiteDot(5, 15), whiteDot(6, 15), whiteDot(7, 15), whiteDot(8, 15), whiteDot(9, 15), whiteDot(14, 15), whiteDot(15, 15), whiteDot(16, 15), whiteDot(17, 15), whiteDot(18, 15),
    	    	whiteDot(5, 16), whiteDot(6, 16), whiteDot(7, 16), whiteDot(8, 16), whiteDot(9, 16), whiteDot(10, 16), whiteDot(11, 16), whiteDot(12, 16), whiteDot(13, 16), whiteDot(14, 16), whiteDot(15, 16), whiteDot(16, 16), whiteDot(17, 16), whiteDot(18, 16), whiteDot(20, 16), whiteDot(22, 16),
    	    	whiteDot(5, 17), whiteDot(6, 17), whiteDot(7, 17), whiteDot(8, 17), whiteDot(9, 17), whiteDot(10, 17), whiteDot(11, 17), whiteDot(12, 17), whiteDot(13, 17), whiteDot(14, 17), whiteDot(15, 17), whiteDot(16, 17), whiteDot(17, 17), whiteDot(18, 17), whiteDot(21, 17),
    	    	whiteDot(6, 18), whiteDot(7, 18), whiteDot(8, 18), whiteDot(9, 18), whiteDot(10, 18), whiteDot(11, 18), whiteDot(12, 18), whiteDot(13, 18), whiteDot(14, 18), whiteDot(15, 18), whiteDot(16, 18), whiteDot(17, 18), whiteDot(20, 18), whiteDot(22, 18),
    	    	whiteDot(4, 19), whiteDot(7, 19), whiteDot(8, 19), whiteDot(9, 19), whiteDot(10, 19), whiteDot(11, 19), whiteDot(12, 19), whiteDot(13, 19), whiteDot(14, 19), whiteDot(15, 19), whiteDot(16, 19),
    	    	whiteDot(3, 20), whiteDot(5, 20), whiteDot(8, 20), whiteDot(9, 20), whiteDot(10, 20), whiteDot(11, 20), whiteDot(12, 20), whiteDot(13, 20), whiteDot(14, 20), whiteDot(15, 20),
    	    	whiteDot(4, 21), whiteDot(10, 21), whiteDot(11, 21), whiteDot(12, 21), whiteDot(13, 21), whiteDot(20, 21),
    	    	whiteDot(7, 22), whiteDot(11, 22), whiteDot(12, 22),
    	    	whiteDot(1, 23), whiteDot(23, 23);
    }
}

.XmarsTree {
    $r: antiquewhite;
    $w: green;
	position: absolute;
    top: 280px;
    left: 400px;
    width: 230px;
    height: 230px;
    background: $r;
    
    &:hover {
        animation: rotate 1s linear 0s infinite;
    }

    @function whiteDot($x, $y) {
        @return $x * 10px - 5px $y * 10px - 5px 0 5px $w;
    }
    
    &:before {
    	content: '';
    	position: absolute;
        box-shadow: whiteDot(1, 1), whiteDot(23, 1),
            	whiteDot(12, 2), whiteDot(17, 2),
    	    	whiteDot(5, 3), whiteDot(10, 3), whiteDot(11, 3), whiteDot(12, 3), whiteDot(13, 3), whiteDot(14, 3),
    	    	whiteDot(4, 4), whiteDot(6, 4), whiteDot(11, 4),whiteDot(13, 4),
    	    	whiteDot(5, 5), whiteDot(12, 5),
    	    	whiteDot(11, 6), whiteDot(12, 6), whiteDot(13, 6), whiteDot(20, 6),
    	    	whiteDot(7, 7), whiteDot(10, 7), whiteDot(11, 7), whiteDot(12, 7), whiteDot(14, 7),
    	    	whiteDot(4, 8), whiteDot(9, 8), whiteDot(11, 8), whiteDot(12, 8), whiteDot(13, 8), whiteDot(14, 8), whiteDot(15, 8), whiteDot(21, 8),
    	    	whiteDot(10, 9), whiteDot(13, 9), whiteDot(14, 9), whiteDot(20, 9), whiteDot(22, 9),
    	    	whiteDot(9, 10), whiteDot(10, 10), whiteDot(11, 10), whiteDot(12, 10), whiteDot(15, 10), whiteDot(21, 10),

    	    	whiteDot(8, 11), whiteDot(9, 11), whiteDot(10, 11), whiteDot(11, 11), whiteDot(12, 11), whiteDot(13, 11), whiteDot(16, 11),

    	    	whiteDot(7, 12), whiteDot(10, 12), whiteDot(11, 12), whiteDot(12, 12), whiteDot(14, 12), whiteDot(15, 12), whiteDot(16, 12), whiteDot(17, 12),

    	    	whiteDot(2, 13), whiteDot(8, 13), whiteDot(10, 13), whiteDot(11, 13), whiteDot(13, 13), whiteDot(14, 13), whiteDot(15, 13), whiteDot(16, 13),

    	    	whiteDot(9, 14), whiteDot(12, 14), whiteDot(13, 14), whiteDot(15, 14), whiteDot(22, 14),

    	    	whiteDot(7, 15), whiteDot(8, 15), whiteDot(10, 15), whiteDot(11, 15), whiteDot(12, 15), whiteDot(13, 15), whiteDot(14, 15), whiteDot(15, 15), whiteDot(16, 15), whiteDot(17, 15),

    	    	whiteDot(6, 16), whiteDot(8, 16), whiteDot(9, 16), whiteDot(11, 16), whiteDot(12, 16), whiteDot(13, 16), whiteDot(14, 16), whiteDot(18, 16),

    	    	whiteDot(5, 17), whiteDot(6, 17), whiteDot(7, 17), whiteDot(9, 17), whiteDot(10, 17), whiteDot(12, 17), whiteDot(13, 17), whiteDot(15, 17), whiteDot(17, 17), whiteDot(18, 17), whiteDot(19, 17),

    	    	whiteDot(6, 18), whiteDot(7, 18), whiteDot(8, 18), whiteDot(10, 18), whiteDot(11, 18), whiteDot(14, 18), whiteDot(16, 18), whiteDot(17, 18), whiteDot(18, 18),

    	    	whiteDot(8, 19), whiteDot(9, 19), whiteDot(12, 19), whiteDot(13, 19), whiteDot(15, 19), whiteDot(16, 19),

    	    	whiteDot(9, 20), whiteDot(10, 20), whiteDot(11, 20), whiteDot(12, 20), whiteDot(13, 20), whiteDot(14, 20), whiteDot(15, 20), whiteDot(21, 20),

    	    	whiteDot(3, 21), whiteDot(11, 21), whiteDot(12, 21), whiteDot(13, 21),
    	    	whiteDot(6, 22), whiteDot(11, 22), whiteDot(12, 22), whiteDot(13, 22), whiteDot(17, 22),
    	    	whiteDot(1, 23), whiteDot(23, 23);
    }
}

.newYear1 {
	width: 100px;
    position: relative;
    top: 100px;
    height: 100px;
    left: 100px;

    .body {
        background: red;
        height: 100px;
        border-radius: 50%;
        position: absolute;
    }
    .part1 {
        width: 200px;
        background: white;
    }
    .part2 {
        width: 160px;
        background: white;
        left: 20px;
    }
    .part3 {
        width: 140px;
        left: 30px;
    }
    .part4 {
        width: 100px;
        background: white;
        left: 50px;
    }
    .part5 {
        width: 80px;
        left: 60px;
    }
    .part6 {
        width: 40px;
        background: white;
        left: 80px;
    }
    .part7 {
        width: 20px;
        left: 90px;
    }
    .head1 {
    position: absolute;
    width: 4px;
    height: 15px;
    background: red;
    left: 98px;
    top: -20px;
    }
    .head2 {
        position: absolute;
    width: 20px;
    border-bottom: 6px solid red;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: -8px;
    left: 80px;
    }
    .bottom1 {
        @extend .head2;
    	border-top: 6px solid red;
    	border-bottom: none;
    	top: 102px;
    }
    .bottom2 {
        @extend .head1;
        top: 105px;
    }
    .bottom3 {
        position: absolute;
    width: 16px;
    height: 10px;
    border-radius: 50%;
    background: red;
    left: 92px;
    top: 120px;
    }
    .bottom4 {
        @extend .head1;
        top: 125px;
    }
    .bottom5 {
    left: 91px;
    top: 145px;
    position: absolute;
    height: 25px;
    width: 18px;
    background: linear-gradient(to right,red 0px, red 2px, white 2px, white 4px,red 4px, red 6px, white 6px, white 8px,
    red 8px, red 10px, white 10px, white 12px,red 12px, red 14px, white 14px, white 16px,red 16px, red 18px);
    }
    .bottom6 {
    left: 91px;
    top: 140px;
    position: absolute;
    height: 5px;
    width: 18px;
    background: red;
    border-radius: 50% 50% 0 0;
    }
}
