@import 'reset.css';

// Reset css
body {
	font-family: 'Open Sans',sans-serif;
}
a {
	text-decoration: none;
}

// Theme color
$dark-theme: #7b1fa2;
$theme: #9C27B0;
$light-theme: #ba68c8;

// Grey color
$black: #333;
$char-clr: #444;
$light-bg-clr: #fafafa;
$dark-bg-clr: #444;

.header {
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-image: linear-gradient(to right, #d62d20, #ffa700 33%, #008744 66%, #0057e7);
    border-image-slice: 1;
    background-color: $light-bg-clr;
    min-height: 100%;
    display: table;
    width: 100%;
    color: $char-clr;
		position: relative;
		
		.header-bg {
			position: absolute;
			opacity: 0.1;
		}

    .header-info {
    	position: relative;
    	left: 10%;
    	width: 40%;
    	margin-top: 20px;
    	& > * {
    		margin-bottom: 30px;
    	}
    	.header-name {
    		font-size: 2em;
    	}
    	.header-intro {
    		font-size: 1em;
    		line-height: 1.4em;
    	}
    	.header-social {
    		font-size: 1em;
    		line-height: 20px;
    		li {
    			margin: 10px 0;
	    		a {
	    			background-color: $theme;
	    			border-radius: 10px;
	    			padding: 2px 10px;
	    			color: white;
	    			&:hover {
	    				background-color: $dark-theme;
	    			}
	    		}
    		}
    	}
    	@media (min-width: 40em) {
	    	.header-name {
	    		font-size: 3.9em;
	    	}
	    	.header-intro {
	    		font-size: 1.3em;
	    	}
    	}
    }
	@media (max-width: 54em) {
		.header-info {
			left: 5%;
			width: 90%;
		}
	}
}

.article {
	background-color: $dark-bg-clr;
	padding: 20px;
	box-shadow: inset 0 0px 5px 2px rgba(0, 0, 0, 0.4);

  .sites {
		display: flex;
		.item {
			flex-basis: 150px;
			margin: 10px;
			height: 200px;
			& > a {
				height: 100%;
				display: block;
				.card {
					height: 100%;
					display: flex;
					flex-direction: column;
					border-radius: 5px;
					background-color: $light-bg-clr;
					overflow: hidden;
					.content {
						flex-basis: 80%;
					}
					.foot {
						flex-basis: 20%;
						background-color: limegreen;
						color: $light-bg-clr;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}
	}
}

.footer {
	background-color: $black;
	color: white;
	padding: 10px 0;
	text-align: center;
}