header {
  text-align: center;
  .title {
    display: inline-block;
    padding: 10px 20px 30px 20px;
    background: #6c517b;
    color: ghostwhite;
    border-radius: 0 0 50% 50%;
    font-size: 5em;
  }
}

.catalog-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .catalog {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item {
      flex-basis: 33.3333%;
      transition: transform 0.5s;
      &:hover {
        transform: scale(1.2, 1.2);
      }
      & > a {
        padding: 50px 100px;
        display: block;
        text-align: center;
        color: white;
        font-size: 5em;
        text-decoration: none;
        white-space: nowrap;
        &.a {
          background-color: #f50057;
        }
        &.b {
          background-color: #02ce1b;
        }
        &.c {
          background-color: #008ff5;
        }
      }
    }
  }
}