.iqiyi-logo {
	position: relative;
}

.iqiyi-logo .outline {
	width: 110px;
	height: 85px;
	border: 10px solid #699f00;
	border-radius: 50% / 10%;
	float: left;
}
.iqiyi-logo .outline {
	position: relative;
}

.iqiyi-logo .outline .letter-left-i {
	position: absolute;
	left: -10px;
	top: 10px;
}
.iqiyi-logo .outline .mask-line {
	width: 10px;
	height: 5px;
	background-color: #fff;
	position: relative;
}
.iqiyi-logo .outline .letter-left-i .first.mask-line{
	top: 0;
}
.iqiyi-logo .outline .letter-left-i .second.mask-line{
	top: 10px;
}
.iqiyi-logo .outline .letter-left-i .third.mask-line{
	top: 50px;
}

.iqiyi-logo .outline .letter-q {
	position: absolute;
	left: 12px;
	top: 13px;
}
.iqiyi-logo .outline .letter-q .circle {
	border-width: 5px 10px;
	border-style: solid;
	border-color: #699f00;
	height: 50px;
	width: 8px;
	border-radius: 50% / 15%;
}
.iqiyi-logo .outline .letter-q .tail {
	width: 10px;
	height: 5px;
	background-color: #699f00;
	position: absolute;
	right: 0px;
	bottom: -2px;
	transform: rotate(20deg);
}

.iqiyi-logo .outline .letter-middle-i {
	position: absolute;
	left: 53px;
	top: 15px;
	width: 10px;
	height: 55px;
	background-color: #699f00;
}

.iqiyi-logo .outline .letter-y {
	position: absolute;
	left: 78px;
	top: 15px;
}
.iqiyi-logo .outline .letter-y .line {
	position: absolute;
	width: 10px;
	height: 30px;
	background-color: #699f00;
}
.iqiyi-logo .outline .letter-y .left-line {
	left: 0px;
	transform: skewX(20deg);
}
.iqiyi-logo .outline .letter-y .right-line {
	left: 10px;
	transform: skewX(-20deg);
}
.iqiyi-logo .outline .letter-y .middle-line {
	top: 25px;
	left: 5px;
}

.iqiyi-logo .outline .letter-right-i {
	position: absolute;
	right: -10px;
	top: 10px;
}
.iqiyi-logo .outline .letter-right-i .first.mask-line {
	top: 0;
}
.iqiyi-logo .outline .letter-right-i .second.mask-line {
	top: 54px;
}

/* 爱奇艺 */
.iqiyi-logo .name {
	color: #699f00;
	font-size: 50px;
	font-family: 'microsoft yahei';
	float: left;
	position: relative;
	left: 20px;
	top: 20px;
}
.iqiyi-logo .name .text {
	margin: -5px;
	transition: color 0.5s;
}
.iqiyi-logo:hover .name .text{
	color: transparent;
}
@keyframe show-text {
	from: 0;
	to: 100;
}